<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bing</title>
  </head>
  <body>
    <div class='card'>
      <div class='tit'>
        <div><%= name %></div>
      </div>
      <div class='subtit'>
        <%= date %>
      </div>
      <a class='cardToggle' href=<%= link %> >
        click here
      </a>
      <img class='rms_img' src=<%= img_link %> >
    </div>
  </body>
</html>
