<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Google</title>
  </head>
  <body>
    <div class='iELo6'>
      <div class='pgNMRc'>
        <div><%= name %></div>
      </div>
      <div class='cxzHyb'>
        <%= date %>
      </div>
      <a href=<%= link %> >
        click here
      </a>
      <img class='taFZJe' src=<%= img_link %> >
    </div>
  </body>
</html>
